#container {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-shrink: 0;
  justify-content: space-between;
  margin-bottom: 3%;
}

#container > img {
  object-fit: cover;
  width: 11%;
  height: 11%;
}

.main {
  height: 100%;
  width: 100%;
  font-size: large;
  padding-top: 5vh;
  padding-left: 70px;
  padding-right: 70px;
}

h1 {
    font-size: x-large;
}

p {
    font-size: x-large;
    font-weight: 400;
}

.video {
    height: 600px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#welcome-words {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: larger;
}

#credit {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#button {
    font-size: large;
    font-weight: bold;
    line-height: revert;
    /* border-color: #f3cc72; */
    /* background-color: #f3cc72; */
}

#button:hover {
    color: #ffffff;
    border-color: #ffffff;
    /* #ecb025 */
}

.explore-button {
    padding: 5vh;
    text-align: center;   
}