.page {
    text-align: center;
}

.button-div {
    padding-top: 50px
}

.image-div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.song-div {
    padding-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#button:hover {
    color: #ecb025;
    border-color: #ecb025;
}